<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="PythonHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified"/>
    </handlers>
    <httpPlatform processPath="%PYTHON_EXE%" 
                  arguments="-m gunicorn --bind 0.0.0.0:%HTTP_PLATFORM_PORT% --workers 1 --threads 2 --timeout 300 --preload app:app"
                  stdoutLogEnabled="true"
                  stdoutLogFile="\\?\%home%\LogFiles\python_stdout.log"
                  startupTimeLimit="300"
                  requestTimeout="00:05:00">
      <environmentVariables>
        <environmentVariable name="PYTHONUNBUFFERED" value="1" />
        <environmentVariable name="DISABLE_CAM" value="0" />
        <environmentVariable name="PORT" value="%HTTP_PLATFORM_PORT%" />
      </environmentVariables>
    </httpPlatform>
  </system.webServer>
</configuration>
